<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "qna">
 	  	
 	<!-- 
	   content_table 에 insert 하기 #{content_file, jdbcType=VARCHAR} 
	    ㄴ 이미지를 추가 하지 않으면 content_file 에 들어오는 값이 null 이 되는데
	       이 때, null 값이 들어와도 오류가 발생하지 않게 하려면 jdbcType=VARCHAR 를 설정함
	 -->
	 
	<insert id="addQna" parameterType="com.matjip.bean.QnaBean" >
		
		<!-- 현재 Sequence 값 가져와서 
		SELECT CONTENT_SEQ.nextval FROM DUAL
		cONTENTbEAN 객체의 멤버변수 content_idx에 할당한후,
		INSERT 문을 실행함
		VALUES(CONTENT_SEQ.nextval,...) -> VALUES(#{content_idx})
		-->
		<selectKey keyProperty = "qna_idx" order="BEFORE" resultType="java.lang.Integer">
			<![CDATA[	
				SELECT QNA_SEQ.nextval FROM DUAL
			]]>					
		</selectKey>	
	
		<![CDATA[
			
			Insert INTO qna VALUES(#{qna_idx}, #{qna_title},
			#{qna_content}, #{qna_id}, sysdate, 1, #{qna_idx}, default)
				
		]]>		
	</insert> 
	
	   <!-- 답변 달기 -->
   <insert id="addQnaReply" parameterType="com.matjip.bean.QnaBean" >
   
      <selectKey keyProperty = "qna_idx" order="BEFORE" resultType="java.lang.Integer">
         <![CDATA[   
            SELECT QNA_SEQ.nextval FROM DUAL
         ]]>               
      </selectKey>   
      
      <![CDATA[
         
         Insert INTO qna(qna_idx, qna_content, qna_id, qna_resdate, lev, parno, reply_cnt)
         VALUES(#{qna_idx}, #{qna_content}, #{qna_id}, sysdate, 2, #{parno}, default)
            
      ]]>   
         
   </insert>
	
	<!-- 답변 달기 성공시 답글수 카운트업! -->
	<update id="cntUp" parameterType="com.matjip.bean.QnaBean" >
				
		<![CDATA[
			
			UPDATE qna SET reply_cnt=#{reply_cnt}+1 WHERE qna_idx=#{qna_idx}
				
		]]>	
			
	</update>
		
	<!-- 게시글 (질문) 리스트 가져오기 -->
 	<select id="getQnaList" parameterType="java.lang.Integer" 
 													resultType="com.matjip.bean.QnaBean">
		<![CDATA[
			
			SELECT * FROM qna WHERE lev=1 ORDER BY qna_idx DESC
				
		]]>		
	</select> 
	
	<!-- 게시글 (답변) 리스트 가져오기 -->
 	<select id="getQnaReplyList" parameterType="java.lang.Integer" 
 													resultType="com.matjip.bean.QnaBean">
		<![CDATA[
			
			SELECT * FROM qna WHERE lev=2 ORDER BY qna_idx DESC
				
		]]>		
	</select> 
	
	
	<!-- 상세페이지에 출력할 데이터 가져오기 작성자(이름)-user_name(content_writer_name), 작성날짜-content_date, 
		제목-content_subject, 내용-cotent.text, 첨부이미지-content_file -->
	<select id="getQnaDetail" parameterType="java.lang.Integer"
														resultType="com.matjip.bean.QnaBean">
	    <![CDATA[
		      SELECT * FROM qna WHERE qna_idx = #{qna_idx}
	    ]]>
	</select>
		
	<!-- 상세페이지에서 수정 버튼 눌렀을때 출력할 데이터 가져오기 -->
 	<select id="getModifyPage" parameterType="java.lang.Integer" 
 															resultType="com.matjip.bean.QnaBean">
		<![CDATA[
			
			SELECT * FROM qna WHERE qna_idx = #{qna_idx}
				
		]]>		
	</select> 
	
	<!-- 상세페이지에서 수정 버튼 눌렀을때 게시글 수정하기 -->
 	<update id="getModify" parameterType="com.matjip.bean.QnaBean">
		<![CDATA[
			
			UPDATE qna 
			SET qna_title = #{qna_title}, qna_content = #{qna_content}	
			WHERE qna_idx = #{qna_idx}
				
		]]>		
	</update> 	
		
	<!-- 상세페이지에서 삭제 버튼 눌렀을때 게시글 삭제하기 -->
 	<delete id="deleteQna" parameterType="java.lang.Integer">
		<![CDATA[
			
			DELETE FROM qna WHERE parno = #{qna_idx}
				
		]]>		
	</delete>	
	
	<!-- 답변 삭제하기 -->
 	<delete id="deleteReply" parameterType="java.lang.Integer">
		<![CDATA[
			
			DELETE FROM qna WHERE qna_idx = #{qna_idx}
				
		]]>		
	</delete>
	
	<!-- 답변 삭제시 답글수 카운트다운! -->
	<update id="cntDown" parameterType="com.matjip.bean.QnaBean" >
				
		<![CDATA[
			
			UPDATE qna SET reply_cnt=(SELECT reply_cnt FROM qna WHERE qna_idx=(SELECT parno FROM qna WHERE qna_idx=#{qna_idx}))-1 WHERE qna_idx=#{parno}
				
		]]>	
			
	</update>
	
	<!-- 게시글 전체 개수 가져오기 -->
 	<select id="getQnaCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		<![CDATA[
			
			SELECT COUNT(*) FROM qna
				
		]]>		
	</select> 	
	 
</mapper>